{{- if .Values.sockShop.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    litmuschaos.io/chaos: "true"
  labels:
    app: sock-shop
    name: orders
  name: orders
  namespace: {{ include "sock-shop-litmus.sockShopNamespace" . }}
spec:
  replicas: {{ .Values.sockShop.orders.replicas }}
  selector:
    matchLabels:
      app: sock-shop
      name: orders
  template:
    metadata:
      labels:
        app: sock-shop
        name: orders
    spec:
      containers:
      - env:
        - name: ZIPKIN
          value: zipkin.jaeger.svc.cluster.local
        - name: JAVA_OPTS
          value: {{ .Values.sockShop.orders.javaOpts | quote }}
        image: {{ .Values.sockShop.orders.image }}
        imagePullPolicy: {{ .Values.global.imagePullPolicy }}
        name: orders
        ports:
        - containerPort: 80
          protocol: TCP
        resources: {}
        securityContext:
          capabilities:
            add:
            - NET_BIND_SERVICE
            drop:
            - all
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 10001
        volumeMounts:
        - mountPath: /tmp
          name: tmp-volume
        livenessProbe:
          httpGet:
            path: /health
            port: 80
          initialDelaySeconds: 300
          periodSeconds: 3
        readinessProbe:
          httpGet:
            path: /health
            port: 80
          initialDelaySeconds: 180
          periodSeconds: 3
      volumes:
      - emptyDir:
          medium: Memory
        name: tmp-volume
{{- end }}
